body {
    background-color: #ccc;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.feedback-form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

.feedback-form label {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
}

.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.feedback-form button {
    background-color: #efc5f3;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.feedback-form button:hover {
    background-color: #e5b7e5;
}